html, body {
  padding: 0;
  margin:0;
}
h1{margin:0;}



header, footer{background-color:lightgreen;clear:both;}
#rightCol{float:right;width:200px;background:lightblue;}
#leftCol{margin-right:200px;}

#leftCol section{ float:left;width:120px; height:120px;border:1px solid grey;}

a {
  color: #00B7FF;
}
