body {
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header, footer{background-color:lightgreen;}
#messages{float:right;width:200px;background:lightblue;}


a {
  color: #00B7FF;
}
